// Styles for Filter buttons and layout, etc.




.wpfMainWrapper {
  .wpfFilterButtons {
    &.wpfFilterButtonsTop {
      display: flex !important;
      justify-content: space-between !important;
      .wpfButton {
        &.wpfFilterButton,
        &.wpfClearButton {
          float: none !important;
          transition: .2s !important;
          width: auto !important;
          flex: 1 !important;
          &:hover {
            background: #467bbf !important;
          }
        }
        &.wpfFilterButton {
          background: #0251b8 !important;
        }
        &.wpfClearButton {
          background: #c91136!important;
        }
        &.wpfFilterButton {
          &.has-active-filters {

          }
        }
        &.wpfClearButton {
          &.no-active-filters {
            pointer-events: none;
            background-color: #d2d2d2 !important;
          }
        }
      }
    }
  }
  .wpfFilterWrapper {
    border-radius: 5px !important;
    background-color: #e2e4e7 !important;
    padding: 20px !important;
    .wpfFilterTitle {
      color: #0251b8 !important;
      padding: 0 3px !important;
    }
    .wpfFilterContent {
      ul {
        padding: 0 !important;
        li {
          background-color: #f5f5f5 !important;
          border-radius: 3px !important;
          padding: 3px 6px !important;
          transition: .2s !important;
          &:hover {
            background-color: #fff !important;
            transition: .2s !important;
          }
          input[type="checkbox"] {
            + label {
              &::before {
                background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonEmpty.png') !important;
                background-size: 100% 100% !important;
                border: none !important;
                width: 18px !important;
                height: 18px !important;
                left: -2px !important;
              }
            }
            &:checked {
              + label {
              &::before {
                background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonChecked.png') !important;
                background-size: 100% 100% !important;
              }
            }
            }
          }
          &:not(:last-child) {
            margin-bottom: 3px !important;
          }
          .wpfLiLabel {
            .wpfCheckbox {
              position: relative !important;
              vertical-align: middle !important;
              label {
                vertical-align: middle !important;
                position: absolute !important;
                left: 10px !important;
                top: 50% !important;
                transform: translate(0, -28%) !important;
              }
            }
            .wpfDisplay {
              margin-left: 26px !important;
            }
          }
        }
      }
    }
  }
}

