// Styles for Filter buttons and layout, etc.




.wpfMainWrapper {
  .wpfFilterButtons {
    &.wpfFilterButtonsTop {
      display: flex !important;
      justify-content: space-between !important;
      .wpfButton {
        &.wpfFilterButton,
        &.wpfClearButton {
          position: relative;
          float: none !important;
          transition: .2s !important;
          width: auto !important;
          flex: 1 !important;
          font-size: 15px;
          &::after {
            position: absolute;
            content: "";
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
          }
          &:hover {
            background: #467bbf !important;
          }
        }
        &.wpfFilterButton {
          background: #0251b8 !important;
          &::after {
            background: url('https://dev-moscadesign.mystagingwebsite.com/wp-content/uploads/2025/12/productFiltersButtonAdd.png') !important;
            background-size: 100% 100% !important;
            width: 12px;
            height: 12px;
          }
        }
        &.wpfClearButton {
          background: #c91136!important;
          &::after {
            background: url('https://dev-moscadesign.mystagingwebsite.com/wp-content/uploads/2025/12/productFiltersButtonRemove.png') !important;
            background-size: 100% 100% !important;
            width: 16px;
            height: 16px;
          }
        }
        &.wpfFilterButton {
          &.has-active-filters {

          }
        }
        &.wpfClearButton {
          &.no-active-filters {
            pointer-events: none;
            background-color: #d2d2d2 !important;
          }
        }
      }
    }
  }
  .wpfFilterWrapper {
    border-radius: 5px !important;
    background-color: #e2e4e7 !important;
    padding: 20px !important;
    .wpfFilterTitle {
      color: #0251b8 !important;
      padding: 0 3px !important;
    }
    .wpfFilterContent {
      ul {
        padding: 0 !important;
        li {
          background-color: #f5f5f5 !important;
          border-radius: 3px !important;
          padding: 3px 6px !important;
          transition: .2s !important;
          &:hover {
            background-color: #fff !important;
            transition: .2s !important;
          }
          input[type="checkbox"] {
            + label {
              &::before {
                background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonEmpty.png') !important;
                background-size: 100% 100% !important;
                border: none !important;
                width: 18px !important;
                height: 18px !important;
                left: -2px !important;
              }
            }
            &:checked {
              + label {
              &::before {
                background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonChecked.png') !important;
                background-size: 100% 100% !important;
              }
            }
            }
          }
          &:not(:last-child) {
            margin-bottom: 3px !important;
          }
          .wpfLiLabel {
            .wpfCheckbox {
              position: relative !important;
              vertical-align: middle !important;
              label {
                vertical-align: middle !important;
                position: absolute !important;
                left: 10px !important;
                top: 50% !important;
                transform: translate(0, -28%) !important;
              }
            }
            .wpfDisplay {
              margin-left: 26px !important;
              font-weight: bold !important;
            }
          }
        }
      }
      .ui-slider {
        background: transparent;
        border: none !important;
        background-color: #fff !important;
        border-radius: 2px;
        .ui-slider-range {
          background-color: rgba(2, 81, 184, 0.3) !important;
        }
        .ui-slider-handle {
          background: #fff;
          border: 2px solid #c9c9c9 !important;
          border-radius: 4px !important;
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.02);
          &.ui-state-hover,
          &.ui-state-focus {
            border-color: #c9c9c9 !important;

          }
        }
        &.has-active-filters {
          .ui-slider-range {
            background-color: rgba(2, 81, 184) !important;
          }
        }
        + .wpfPriceInputs {
          position: relative;
          display: flex;
          flex-direction: row;
          width: 100%;
          .wpfFilterDelimeter {
            margin: 0 auto !important;
          }
          .wpfPriceRangeField {
            width: auto !important;
            font-size: 15px !important;
            font-weight: bold !important;
            color: #0251b8 !important;
            &#wpfMinPrice {
              text-align: left !important;
            }
            &#wpfMaxPrice {
              text-align: right !important;
            }
          }
          .wpfCurrencySymbol {
            color: #505050 !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
}

// Result Counts
.custom-result-count,
.custom-result-count-mobile {
  color: #0251b8;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  &.no-active-filters {
    .custom-result-count-active-filter {
      display: none;
    }
  }
  &.has-active-filters {
    .custom-result-count-active-filter,
    .custom-result-count-active-filter-mobile {
      display: inline-block;
      color: #434343;
      font-size: 14px;
      line-height: 29px;
      padding: 7px 0 0 0;
      border-top: 1px solid rgb(0 0 0 / 21%);
      strong {
        font-weight: bold;
        text-transform: uppercase;
      }
      span {
        position: relative;
        font-weight: bold;
        background-color: #0251b8;
        color: #fff;
        padding: 4px 6px 4px 22px;
        border-radius: 12px 4px 4px 12px;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 7px;
          transform: translate(0, -50%);
          width: 11px;
          height: 11px;
          background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonChecked.png') !important;
          background-size: 100% 100% !important;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(106%) contrast(104%);
        }
      }
    }
  }
}

// Hide Pagination Results (Displaying above)
.woocommerce {
  .alg-wc-products-per-page-form {
    display: none !important;
  }
  .orderby {
    display: none !important;
  }
  p {
    &.woocommerce-result-count {
      display: none !important;
    }
  }
}




