// Styles for Filter buttons and layout, etc.




.wpfMainWrapper {
  .wpfFilterButtons {
    &.wpfFilterButtonsTop {
      display: flex !important;
      justify-content: space-between !important;
      .wpfButton {
        &.wpfFilterButton,
        &.wpfClearButton {
          float: none !important;
          transition: .2s !important;
          width: auto !important;
          flex: 1 !important;
          &:hover {
            background: #467bbf !important;
          }
        }
        &.wpfFilterButton {
          background: #0251b8 !important;
        }
        &.wpfClearButton {
          background: #c91136!important;
        }
        &.wpfFilterButton {
          &.has-active-filters {

          }
        }
        &.wpfClearButton {
          &.no-active-filters {
            pointer-events: none;
            background-color: #d2d2d2 !important;
          }
        }
      }
    }
  }
  .wpfFilterWrapper {
    border-radius: 5px !important;
    background-color: #e2e4e7 !important;
    padding: 20px !important;
    .wpfFilterTitle {
      color: #0251b8 !important;
      padding: 0 3px !important;
    }
    .wpfFilterContent {
      ul {
        padding: 0 !important;
        li {
          background-color: #f5f5f5 !important;
          border-radius: 3px !important;
          padding: 3px 6px !important;
          transition: .2s !important;
          &:hover {
            background-color: #fff !important;
            transition: .2s !important;
          }
          input[type="checkbox"] {
            + label {
              &::before {
                background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonEmpty.png') !important;
                background-size: 100% 100% !important;
                border: none !important;
                width: 18px !important;
                height: 18px !important;
                left: -2px !important;
              }
            }
            &:checked {
              + label {
              &::before {
                background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonChecked.png') !important;
                background-size: 100% 100% !important;
              }
            }
            }
          }
          &:not(:last-child) {
            margin-bottom: 3px !important;
          }
          .wpfLiLabel {
            .wpfCheckbox {
              position: relative !important;
              vertical-align: middle !important;
              label {
                vertical-align: middle !important;
                position: absolute !important;
                left: 10px !important;
                top: 50% !important;
                transform: translate(0, -28%) !important;
              }
            }
            .wpfDisplay {
              margin-left: 26px !important;
            }
          }
        }
      }
    }
  }
}

// Result Counts
.custom-result-count,
.custom-result-count-mobile {
  color: #0251b8;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  &.no-active-filters {
    .custom-result-count-active-filter {
      display: none;
    }
  }
  &.has-active-filters {
    .custom-result-count-active-filter,
    .custom-result-count-active-filter-mobile {
      display: inline-block;
      color: #434343;
      font-size: 14px;
      line-height: 29px;
      padding: 7px 0 0 0;
      border-top: 1px solid rgb(0 0 0 / 21%);
      strong {
        font-weight: bold;
        text-transform: uppercase;
      }
      span {
        position: relative;
        font-weight: bold;
        background-color: #0251b8;
        color: #fff;
        padding: 4px 6px 4px 22px;
        border-radius: 12px 4px 4px 12px;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 7px;
          transform: translate(0, -50%);
          width: 11px;
          height: 11px;
          background: url('https://moscadesign.com/wp-content/uploads/2025/11/productFiltersButtonChecked.png') !important;
          background-size: 100% 100% !important;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(135deg) brightness(106%) contrast(104%);
        }
      }
    }
  }
}
