

#infoBtn {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none;
  background: #bd0a1f !important;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #000;
}

#infoBtn.active {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto;
}

#infoBtn img {
  height: 18px;
  width: auto;
  margin-right: 7px;
}

#infoBtn img:last-child {
  height: 18px;
  width: auto;
  margin-left: 7px;
  margin-right: auto;
}

